<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />

		<link href="https://fonts.googleapis.com/css?family=Griffy" rel="stylesheet">
		
		<title>Burgertime!</title>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
